body {
  text-align: center;
  font-family: Arial;
}

#box {
  width: 120px;
  height: 120px;
  background: orange;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  border-radius: 12px;
  cursor: pointer;
}